h1 {
    color: #d47f30d5;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(99, 99, 99);
}

a {
    color: inherit;
}

li {
    font-size: 1.2rem;
    color:rgba(205, 216, 44, 0.733);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}